# ONIT
APP_ENV=development
APP_NAME=ONIT

# AI provider
LLM_API_KEY=

# Nutrient
NUTRIENT_API_KEY=
NUTRIENT_API_URL=

# SerpApi
SERPAPI_API_KEY=

# Doctavian
DOCTAVIAN_API_KEY=
DOCTAVIAN_API_URL=

# Frontend
FRONTEND_URL=http://localhost:3000
